[tool.black]
skip-string-normalization = true

[tool.flake8]
show-source = true
max-line-length = 99
application-import-names = "wazo_dird"
exclude = [
    "build",
    ".tox",
    ".eggs",
    "integration_tests/assets/scripts"
]

ignore = [
    "E203", # whitespace before ':' warnings
    "E501", # line too long
    "W503", # line break before binary operator
]

[tool.isort]
profile = "black"
py_version = 311

[tool.pytest]
testpaths = ["wazo_dird"]

[tool.mypy]
python_version = "3.11"

show_error_codes = true
check_untyped_defs = true
warn_unused_configs = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
warn_unused_ignores = true
strict_equality = true
extra_checks = true
no_warn_no_return = true
scripts_are_modules = true

ignore_errors = true

explicit_package_bases = true

exclude_gitignore = true

# Exclude setup.py files
# to avoid Duplicate module errors
exclude = [
    "integration_tests/docker/broken-plugins/setup.py",
]

[[tool.mypy.overrides]]
module = [
    "wazo_dird.plugins.config.*",
]
ignore_errors = false

[[tool.mypy.overrides]]
module = [
    "wazo_dird.plugin_helpers.*"
]
ignore_errors = false

# TODO: remove when py.typed markers are added to those libraries
[[tool.mypy.overrides]]
module = [
    "wazo_auth_client",
    "wazo_confd_client",
]
ignore_missing_imports = true
