https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip  # from xivo-{auth,confd}-client
https://github.com/wazo-pbx/xivo-auth-client/archive/master.zip
https://github.com/wazo-pbx/xivo-bus/archive/master.zip
https://github.com/wazo-pbx/xivo-confd-client/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/master.zip
alembic==0.8.8
babel==2.3.4
cheroot==5.5.0
flask-babel==0.11.1
flask-cors==3.0.2
flask-restful==0.3.5
flask==0.12.1
futures==3.0.5
jinja2==2.8
kombu==3.0.35
marshmallow==2.15.3
psycopg2==2.6.2
python-consul==0.7.0
python-ldap==2.4.28
pyyaml==3.12  # from xivo-lib-py
requests==2.12.4
sqlalchemy==1.0.15
stevedore==1.17.1
unidecode==0.04.19
