cherrypy
flask-cors==1.10.3
flask-restful==0.2.12
flask==0.10.1
futures
git+https://github.com/xivo-pbx/xivo-auth-client.git
git+https://github.com/xivo-pbx/xivo-confd-client.git
git+https://github.com/xivo-pbx/xivo-dao.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
git+https://github.com/xivo-pbx/xivo-lib-rest-client.git
psycopg2
pyaml
python-consul==0.3.18
python-ldap
requests
sqlalchemy
stevedore
