cherrypy==3.2.2
flask-cors==1.10.3
flask-restful==0.2.12
flask==0.10.1
futures==2.2.0
git+https://github.com/xivo-pbx/xivo-auth-client.git
git+https://github.com/xivo-pbx/xivo-confd-client.git
git+https://github.com/xivo-pbx/xivo-dao.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
git+https://github.com/xivo-pbx/xivo-lib-rest-client.git
pyyaml==3.10
python-consul==0.4.2
python-ldap==2.4.10
requests==2.0.0
stevedore==0.14.1
