# This file should not be modified as it may get changed by the maintainer.
# Add extra configuration files in the extra_config_files directory to override
# the content from this file

# Extra configuration directory where the config files overriding this file
# should be.
extra_config_files: /etc/wazo-dird/conf.d/

source_config_dir: /etc/wazo-dird/sources.d

# Database use for the storage of personal contacts and favorites
db_uri: postgresql://asterisk:proformatique@localhost/asterisk

# REST API server
rest_api:

  # HTTPS Configuration
  https:

    # Listening address
    listen: 0.0.0.0

    # Listening port
    port: 9489

    # SSL files
    certificate: /usr/share/xivo-certs/server.crt
    private_key: /usr/share/xivo-certs/server.key

  #CORS configuration. See Flask-CORS documentation for other values.
  cors:

    #Enabled by default
    enabled: True

    #Allow JSON preflight requests
    allow_headers: [Content-Type, X-Auth-Token, Wazo-Tenant]

# Connection info to the authentication server
auth:
  host: localhost
  port: 9497
  verify_certificate: /usr/share/xivo-certs/server.crt
  key_file: /var/lib/wazo-auth-keys/wazo-dird-key.yml

# Event bus (AMQP) connection information
bus:
  username: guest
  password: guest
  host: localhost
  port: 5672
  exchange_name: xivo
  exchange_type: topic
  exchange_durable: True

# Connection info to the contact storage server (Consul)
consul:
  scheme: https
  host: localhost
  port: 8500
  verify: /usr/share/xivo-certs/server.crt

enabled_plugins:
  backends:
    csv: true
    csv_ws: true
    phonebook: true
    ldap: true
    personal: true
    wazo: true
  services:
    cleanup: true
    config: true
    favorites: true
    lookup: true
    personal: true
    phonebook: true
    reverse: true
    source: true
  views:
    aastra_view: true
    api_view: true
    backends_view: true
    cisco_view: true
    config_view: true
    csv_backend: true
    csv_ws_backend: true
    default_json: true
    gigaset_view: true
    headers_view: true
    htek_view: true
    ldap_backend: true
    personal_backend: true
    personal_view: true
    phonebook_backend: true
    phonebook_view: true
    polycom_view: true
    snom_view: true
    thomson_view: true
    wazo_backend: true
    yealink_view: true

views:
  profile_to_display:
    default: default_display
  profile_to_display_phone:
    default_phone: default

services:
  lookup:
    default_phone:
      sources:
        internal: true
      timeout: 0.5
  favorites:
    default:
      sources:
        personal: true
  service_discovery:
    template_path: /etc/wazo-dird/templates.d
    services: {}

# Service discovery configuration. all time intervals are in seconds
service_discovery:
  # the address that will be received by other services using service discovery.
  # use "advertise_address: auto" to enable ip address detection based on
  # advertise_address_interface
  advertise_address: auto
  # if advertise_address is "auto" this interface will be used to find the ip
  # address to advertise. ignored otherwise
  advertise_address_interface: eth0
  advertise_port: 9489
  # the number of seconds that consul will wait between 2 ttl messages to mark
  # this service as up
  ttl_interval: 30
  # the time interval before the service sends a new ttl message to consul
  refresh_interval: 27
  # the time interval to detect that the service is running when starting
  retry_interval: 2
  extra_tags: []
