enabled_plugins:
    backends:
        - sample
    services:
        - lookup
    views:
        - default_json
        - headers_view

views:
    displays:
        default_display:
            -
                title: Firstname
                default: Unknown
                field: firstname
            -
                title: Lastname
                default: Unknown
                field: lastname
            -
                title: Description
                default:
                field: description
    profile_to_display:
        default: default_display

services:
    lookup:
        default:
            sources:
                - sample_plugin
            timeout: 0.5

rest_api:
       listen: 0.0.0.0
       port: 9489
