<?xml version="1.0" encoding="UTF-8" ?>
<CiscoIPPhoneInput>
 <Title>XiVO Search</Title>
 <Prompt>Name or number</Prompt>
 <URL>{{ xivo_proxy_url }}{{ '?xivo_user_uuid={}'.format(xivo_user_uuid) if xivo_user_uuid }}</URL>
 <InputItem>
  <DisplayName>Name or number</DisplayName>
  <QueryStringParam>term</QueryStringParam>
  <DefaultValue />
  <InputFlags>A</InputFlags>
 </InputItem>
</CiscoIPPhoneInput>
