<?xml version="1.0" encoding="UTF-8" ?>
<CiscoIPPhoneMenu>
 <MenuItem>
  <Name>XiVO Directory</Name>
  <URL>{{ xivo_proxy_url|e }}{{ '?xivo_user_uuid={}'.format(xivo_user_uuid|e) if xivo_user_uuid }}</URL>
 </MenuItem>
</CiscoIPPhoneMenu>
