https://github.com/xivo-pbx/xivo-bus/archive/master

babel
flask-babel
docker-compose
pyhamcrest
python-ldap
nose
sh
xivo-test-helpers
mock

# for database tests
-e ..
psycopg2
sqlalchemy==0.9.8
unidecode==0.04.16
kombu
