https://github.com/wazo-pbx/xivo-bus/archive/master.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/master.zip

babel
flask-babel
docker-compose
pyhamcrest
python-ldap
nose
sh
mock

# for database tests
-e ..
psycopg2
sqlalchemy==0.9.8
unidecode==0.04.16
kombu
stevedore
git+https://github.com/wazo-pbx/xivo-confd-client.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git
