https://github.com/wazo-pbx/xivo-bus/archive/master.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/master.zip

babel
flask-babel
docker-compose
pyhamcrest
pytest
python-ldap
sh
mock

# for database tests
-e ..
psycopg2-binary
sqlalchemy==1.0.15
unidecode==0.04.19
kombu
stevedore
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip
https://github.com/wazo-pbx/xivo-auth-client/archive/master.zip
https://github.com/wazo-pbx/xivo-confd-client/archive/master.zip
https://github.com/wazo-pbx/wazo-dird-client/archive/master.zip
