Source: wazo-dird
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.11

Package: wazo-dird
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         alembic,
         python3-alembic,
         python3-cheroot,
         python3-flask,
         python3-flask-cors,
         python3-flask-restful,
         python3-graphql-core (>= 3.2),
         python3-graphql-server (>= 3.0.0),
         python3-graphene (>= 3.2.1),
         python3-jinja2,
         python3-jsonpatch,
         python3-ldap,
         python3-marshmallow,
         python3-psycopg2,
         python3-requests,
         python3-sqlalchemy,
         python3-stevedore,
         python3-typing-extensions (>= 4.4.0),
         python3-unidecode,
         python3-werkzeug,
         wazo-auth-client-python3,
         wazo-confd-client-python3,
         wazo-dbms,
         wazo-uuid,
         wazo-bus-python3,
         xivo-lib-python-python3
Description: Wazo PBX's directory server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
