Source: xivo-dird
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools, python-babel
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-dird
Architecture: all
Pre-Depends: xivo-libdird (= ${binary:Version})
Depends: ${python:Depends}
Description: Wazo PBX's directory server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .

Package: xivo-libdird
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         alembic,
         python-jinja2,
         python-ldap,
         python-flask,
         python-flask-babel,
         python-flask-restful,
         python-stevedore,
         python-cherrypy3,
         python-concurrent.futures,
         python-flask-cors,
         python-requests,
         python-unidecode,
         xivo-auth-client,
         xivo-bus (>> 16.06),
         xivo-confd-client,
         xivo-dbms (>= 16.11~20160825.142748.ed6556f),
         xivo-lib-python (>= 16.06~20160509.153738.904a909),
         xivo-lib-rest-client,
         python-sqlalchemy
Description: Wazo telephony systems library for directories manager
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
