Source: xivo-dird
Section: python
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools, python-babel
Standards-Version: 3.9.4
X-Python-Version: >= 2.7
Homepage: http://wiki.xivo.io

Package: xivo-dird
Architecture: all
Pre-Depends: xivo-libdird (= ${binary:Version})
Depends: ${python:Depends}, adduser
Description: XIVO PBX's directory server
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .

Package: xivo-libdird
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         xivo-lib-python,
         python-jinja2,
         python-ldap,
         python-flask,
         python-flask-babel,
         python-flask-restful,
         python-stevedore,
         python-cherrypy3,
         python-concurrent.futures,
         python-flask-cors,
         python-requests,
         python-unidecode,
         xivo-auth-client,
         xivo-confd-client
Description: XIVO telephony systems library for directories manager
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
