[Unit]
Description=wazo-dird server
After=network.target postgresql.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/wazo-dird --user www-data
Restart=on-failure
RestartSec=5
SyslogIdentifier=wazo-dird

[Install]
WantedBy=multi-user.target
