[Unit]
Description=wazo-dird server
After=network.target postgresql.service
Before=monit.service

[Service]
ExecStartPre=/usr/bin/install -d -o www-data -g www-data /run/wazo-dird
ExecStart=/usr/bin/wazo-dird --user www-data
PIDFile=/run/wazo-dird/wazo-dird.pid

[Install]
WantedBy=multi-user.target
