type: wazo
name: wazo-{{ uuid }}
searched_columns:
  - firstname
  - lastname
first_matched_columns:
  - exten
tenant_uuid: {{ tenant_uuid }}
auth:
  host: {{ hostname }}
  port: 443
  username: {{ service_id }}
  password: {{ service_key }}
  https: true
  verify_certificate: false
confd:
  host: {{ hostname }}
  port: 443
  https: true
  verify_certificate: false
format_columns:
    name: "{firstname} {lastname}"
    phone: "{exten}"
    number: "{exten}"
    reverse: "{firstname} {lastname}"
    voicemail: "{voicemail_number}"
