version: '3'
services:
  sync:
    depends_on:
      - auth
      - dird
      - america
      - europe
      - asia
      - db
    environment:
      TARGETS: "dird:9489 america:9486 europe:9486 asia:9486 auth:9497 db:5432"
  dird:
    volumes:
      - "./etc/wazo-dird/conf.d/asset.wazo_users_two_working_one_404.yml:/etc/wazo-dird/config.yml"
  america:
    image: python:2.7.13-stretch
    volumes:
      - "./confd_data/asset.wazo_users_two_working_one_404:/tmp"
    command: "/tmp/run_confd america"
  europe:
    image: python:2.7.13-stretch
    volumes:
      - "./confd_data/asset.wazo_users_two_working_one_404:/tmp"
    command: "/tmp/run_confd europe"
  asia:
    image: python:2.7.13-stretch
    volumes:
      - "./confd_data/asset.wazo_users_two_working_one_404:/tmp"
    command: "/tmp/run_confd asia"
