<?xml version="1.0" encoding="UTF-8" ?>
<CiscoIPPhoneInput>
 <Title>{{ gettext('XiVO Search') }}</Title>
 <Prompt>{{ gettext('Name or number') }}</Prompt>
 <URL>{{ xivo_proxy_url|e }}?xivo_user_uuid={{ xivo_user_uuid|e }}</URL>
 <InputItem>
  <DisplayName>{{ gettext('Name or number') }}</DisplayName>
  <QueryStringParam>term</QueryStringParam>
  <DefaultValue />
  <InputFlags>A</InputFlags>
 </InputItem>
</CiscoIPPhoneInput>
