<?xml version="1.0" encoding="UTF-8" ?>
<SnomIPPhoneInput>
 <Title>XiVO Search</Title>
 <Prompt>Name or number</Prompt>
 <URL>{{ xivo_proxy_url|e }}?xivo_user_uuid={{ xivo_user_uuid|e }}</URL>
 <InputItem>
  <DisplayName>Name or number</DisplayName>
  <QueryStringParam>term</QueryStringParam>
  <DefaultValue />
  <InputFlags>A</InputFlags>
 </InputItem>
</SnomIPPhoneInput>
